.matchTable {
    border: 1px;
    height: 100%;
    $cellWidth: 150px;
    $cellHeight: 40px;
    .cell {
        border-style: solid;
        border-width: 0px 1px 1px 0px;
        width: $cellWidth;
        min-width: $cellWidth;
        max-width: $cellWidth;
        min-height: $cellHeight;
        max-height: $cellHeight;
        line-height: $cellHeight;
    }
    .result {
        height: 40px;
        line-height: 40px;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }
    .emptyCell {
        background-color: gray;
    }
    > .buttonGroup {
        height: 0px;
        background-color: #696969;
        opacity: 0;
        transition: ease 0.2s;
        &:hover {
            opacity: 1;
            height: 40px;
        }
        > .innerGroup {
            display: flex;
            padding-top: 5px;
            padding-left: 5px;
            margin-bottom: 5px;
            > .menuButton {
                height: 30px;
                flex: 0;
                user-select: none;
                outline: none;
                cursor: pointer;
                border-radius: 5px;
                border-width: 1px 0px 1px 1px;
                border-style: solid;
                background-color: lightgray;
                transition: ease 0.2s;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.07);
                }
            }
            > .inputGroup {
                height: 0px;
                margin-left: 5px;
                display: flex;
                &.open {
                  height: 40px;
                }
                .playerNameField {
                    font-size: 15px;
                    width: 150px;
                    height: 30px;
                    padding: 0;
                    outline: none;
                    border-radius: 5px 0 0 5px;
                    border-width: 1px 0px 1px 1px;
                    border-style: solid;
                    background-color: lightgray;
                }
                .addPlayerButton {
                    font-size: 15px;
                    line-height: 30px;
                    border-radius: 0 5px 5px 0;
                    border-style: solid;
                    border-width: 1px 1px 1px 0px;
                    outline: none;
                    height: 30px;
                    padding-left: 7px;
                    padding-right: 7px;
                    color: white;
                    border-color: black;
                    background-color: #0084b4;
                    text-align: center;
                    user-select: none;
                    transition: 0.2s ease;
                    &:hover {
                      cursor: pointer;
                      background-color: #006B9B;
                    }
                    &:active {
                      background-color: #005181;
                    }
                }
                .calcButton {
                    font-size: 15px;
                    width: 50px;
                    height: 30px;
                    line-height: 30px;
                    margin-left: 5px;
                    outline: none;
                    border-radius: 5px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: black;
                    outline: none;
                    background-color: #FFA500;
                    color: white;
                    text-align: center;
                    transition: 0.2s ease;
                    user-select: none;
                    &:hover {
                      cursor: pointer;
                      background-color: #E68C00;
                    }
                    &:active {
                      background-color: #CC7200;
                    }
                }
            }
        }
    }
    > table {
        margin: 5px;
        border-spacing: 0px;
        > .headerRow {
            > tr {
                > .headerCell {
                    height: $cellHeight;
                    max-width: 150px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    border-style: solid;
                    border-top-color: black;
                    border-width: 1px 1px 1px 0px;
                    text-align: left;
                    font-weight: normal;
                    &:first-child {
                      border-left-width: 1px;
                    }
                }
            }
        }
        > tbody {
            @import './matchRow.scss';
        }
    }
  }
