.matchTable {
    border: 1px;
    display: table;
    .cell {
        display: table-cell;
        border: 1px solid black;
        width: 150px;
        height: 40px;
        line-height: 40px;
      }
    .emptyCell {
      background-color: gray;
    }
    .headerRow {
     
    }
    .row {
      float: none;
      height: 40px;
      line-height: 40px;
      .playerName {
       }
      
      .matchResultCell {
      	background-color: white;
      }
    }
  } 