.row {
	float: none;
	height: $cellHeight;
	line-height: $cellHeight;
	.playerName {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.totalResult {
		width: auto;
		display: table-cell;
	}
	@import './matchCell.scss';
}
